[submodule "external/asmjit"]
	path = external/asmjit
	url = https://github.com/asmjit/asmjit
	ignore = all
[submodule "external/physfs"]
	path = external/physfs
	url = https://github.com/icculus/physfs
	ignore = all
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
	ignore = all
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
	ignore = all
