name: clang

on:
  push:
    tags:
      - 'v*'
    branches:
      - 'main'
    paths-ignore:
      - LICENSE
      - README.md
      - 'docs/**'
  pull_request:
    paths-ignore:
      - LICENSE
      - README.md
      - 'docs/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, macos-13, macos-14]
        build_type: [Debug]
        c_compiler: [clang]
        cpp_compiler: [clang++]

    steps:
    - uses: actions/checkout@v4
    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install curl (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt update && sudo apt install -y libcurl4-openssl-dev

    - name: Install curl (Macos)
      if: matrix.os == 'macos-latest'
      run: brew install curl

    - name: Install clang (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt install clang-15
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-14 5
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-14 5
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-15 100
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-15 100
        sudo update-alternatives --config clang
        sudo update-alternatives --config clang++

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --target plugify --config ${{ matrix.build_type }} -- -j

    - name: Test
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ctest --build-config ${{ matrix.build_type }}
